.serchBar{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    top: -5px;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: -2;
}

.searchBarOpen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    top: 75px;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.nav-icon-1 {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    transition: .1s;
    margin: 10px 10px;
    cursor: pointer;
}


.nav-icon-1 span {
    width: 5px;
    height: 5px;
    background-color: var(--secondary-color);
    display: block;
    border-radius: 50%;
    position: absolute;

}

.nav-icon-1:hover span {
    transform: scale(1.2);
    transition: 350ms cubic-bezier(.8, .5, .2, 1.4);
}

.nav-icon-1 span:nth-child(1) {
    left: 0;
    top: 0;
}

.nav-icon-1 span:nth-child(2) {
    left: 12px;
    top: 0;
}

.nav-icon-1 span:nth-child(3) {
    right: 0;
    top: 0;
}

.nav-icon-1 span:nth-child(4) {
    left: 0;
    top: 12px;
}

.nav-icon-1 span:nth-child(5) {
    position: absolute;
    left: 12px;
    top: 12px;
}

.nav-icon-1 span:nth-child(6) {
    right: 0px;
    top: 12px;
}

.nav-icon-1 span:nth-child(7) {
    left: 0px;
    bottom: 0px;
}

.nav-icon-1 span:nth-child(8) {
    position: absolute;
    left: 12px;
    bottom: 0px;
}

.nav-icon-1 span:nth-child(9) {
    right: 0px;
    bottom: 0px;
}

.nav-icon-1.open {
    transform: rotate(180deg);
    cursor: pointer;
    transition: .2s cubic-bezier(.8, .5, .2, 1.4);
}

.nav-icon-1.open span {
    border-radius: 50%;
    transition-delay: 200ms;
    transition: .5s cubic-bezier(.8, .5, .2, 1.4);
    background-color: rgb(0, 183, 255);
}

.nav-icon-1.open span:nth-child(2) {
    left: 6px;
    top: 6px;
}

.nav-icon-1.open span:nth-child(4) {
    left: 6px;
    top: 18px;
}

.nav-icon-1.open span:nth-child(6) {
    right: 6px;
    top: 6px;
}

.nav-icon-1.open span:nth-child(8) {
    left: 18px;
    bottom: 6px;
}

.initial{
    background-color: var(--background_menu);
    position: fixed;
    top: -1000px;
    left: -1000px;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all .6s ease ;
}


.create {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    z-index: 10;
    height: 40px;
    gap: 40px;
}

.create p {
    color: rgb(128, 157, 168);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.create p:hover {
    color: rgb(0, 183, 255);
}


@media (max-width: 768px) {
    .serchBar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        top: 75px;
        margin-bottom: 0;
        padding: 0;
        position: relative;
        width: 100%;
    }
}

@media (max-width: 640px) {
    .nav-icon-1{
        display: initial;
    }
    .create {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -700px;
        left: -2000px;
    }

    .initial.active{
        border-radius: 0 0 50% 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .create.active{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 350%;
        left: 0;
        right: 0;
        text-align: center;
        transition: all .6s ease ;
    }
}