.serchBar{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    top: -5px;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    z-index: 10;
    width: 100%;
}

.searchBarOpen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    top: 75px;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    z-index: 10;
    width: 100%;
}