.svg-arrow {
    width: 60px;
    height: auto;
    margin: 0 2rem;
    cursor: pointer;
    overflow: hidden;
}
.svg-arrow polygon, .svg-arrow path {
    transition: all 0.5s cubic-bezier(.2,1,.3,1);
    fill: var(--primary-color);
}
.svg-arrow:hover polygon, .svg-arrow:hover path {
    transition: all 1s cubic-bezier(.2,1,.3,1);
    fill: rgb(0, 183, 255);
}
.svg-arrow:hover .arrow {
    animation: arrow-anim 2.5s cubic-bezier(.2,1,.3,1) infinite;
}
.svg-arrow:hover .arrow-fixed {
    animation: arrow-fixed-anim 2.5s cubic-bezier(.2,1,.3,1) infinite;
}

.svg-arrow:hover .arrow-2 {
    animation: arrow-anim-2 2.5s cubic-bezier(.2,1,.3,1) infinite;
}

@keyframes arrow-anim-2 {
    0% {
        opacity: 1;
        transform: translateX(0);
   }
    5% {
        transform: translateX(0.1rem);
   }
    100% {
        transform: translateX(-1rem);
        opacity: 0;
   }
}

@keyframes arrow-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}

@keyframes arrow-fixed-anim {
    5% {
        opacity: 0;
   }
    20% {
        opacity: 0.4;
   }
    100% {
        opacity: 1;
   }
}