.icon-2 {
    position: absolute;
    left: 1rem;
    fill: var(--secondary-color);
    width: 2rem;
    height: 2rem;
}

.icon-3 {
    position: absolute;
    fill: var(--secondary-color);
    width: 2.4rem;
    height: 2.4rem;
}

