.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    background: var(--primary-color);
}

.button_back {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.7rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background: transparent;
    padding: 2px 6px;
}

.button_back button {
    position: relative;
    font-size: 13px;
    letter-spacing: 3px;
    height: 3em;
    padding: 0 2em;
    border: none;
    background-color: var(--background_card);
    color: var(--secondary-color);
    box-shadow: var(--box_shadow_create);
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.button_back button::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    height: 0px;
    width: 100%;
    background: var(--primary-color);
    background: linear-gradient(to top, var(--primary-color) 0%, var(--background_card) 100%);
    transition: 0.2s;
}

.button_back button .label {
    position: relative;
}

.button_back button .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 3em;
    position: absolute;
    top: 3em;
    left: -3px;
    opacity: 0;
    transition: 0.4s;
}

.button_back button:hover::before {
    height: 100%;
}

.button_back button:hover .icon {
    top: 0;
    opacity: 1;
}

.button_delete{
    position: absolute;
    top: 2px;
    right: 0;
    margin: 0.7rem;
    border-radius: 10px;
    padding: 2px 6px;
    background-color: var(--background_card);
    box-shadow: var(--box_shadow_create);
    cursor: pointer;
}

.button_delete button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button_delete:active {
    background: var(--background_create);
    box-shadow: var(--box_shadow_create_active);
}

.card {
    width: 800px;
    height: 90%;
    background: var(--background_card);
    border-radius: 12px;
    box-shadow: var(--box_shadow_card);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.card_container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-family: 'Dog';
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--title_page);
    text-align: center;
    margin-top: 1.5rem;
}

.image {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--imagen_card);
}

.container__info {
    text-align: center;
    color: var(--color_card);
    line-height: 1;
}